{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $hash_id := .wcIdentifier }}

{{ if $block.content.slides }}
  {{ $slide_count := len $block.content.slides }}

  <!-- Indicators -->
  {{ if gt $slide_count 1 }}
  <ol class="carousel-indicators">
    {{ range $index, $item := $block.content.slides }}
    <li data-target="#{{$hash_id}}" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
    {{ end }}
  </ol>
  {{ end }}

  <!-- Carousel slides wrapper -->
  <div id="{{$hash_id}}" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {{ range $index, $item := $block.content.slides }}
      <div class="carousel-item {{if eq $index 0}} active{{end}}">
        <div class="carousel-caption">
          <h1>{{ with $item.title }}{{ . | markdownify | emojify }}{{ end }}</h1>
          {{ with $item.content }}
          <p>{{ . | markdownify | emojify }}</p>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Left and right controls -->
    {{ if gt $slide_count 1 }}
    <a class="carousel-control-prev" href="#{{$hash_id}}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{$hash_id}}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    {{ end }}
  </div>
{{ else }}
  <p>No slides available</p>
{{ end }}
