{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $hash_id := .wcIdentifier }}

{{ if $block.content.slides }}
  {{ $slide_count := len $block.content.slides }}

  <!-- Indicators -->
  {{ if gt $slide_count 1 }}
  <ol class="carousel-indicators">
    {{ range $index, $item := $block.content.slides }}
    <li data-target="#{{$hash_id}}" data-slide-to="{{$index}}" {{if eq $index 0}}class="active"{{end}}></li>
    {{ end }}
  </ol>
  {{ end }}

  <!-- Carousel slides wrapper -->
  <div id="{{$hash_id}}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="{{ $block.design.interval | default "5000" }}" {{ if $block.design.loop }}data-bs-wrap="true"{{ end }}>
    <div class="carousel-inner">
      {{ range $index, $item := $block.content.slides }}
      {{ $style_bg := "" }}
      {{ $style_filter := "" }}

      {{ with $block.design.slide_height }}
        {{ $style_bg = printf "%s height: %s;" $style_bg . }}
      {{ end }}

      {{ $bg := $item.background }}
      {{ with $bg.color }}
        {{ $style_bg = printf "%s background-color: %s;" $style_bg (. | default "transparent") }}
      {{ end }}

      {{ if and $bg.image.filename }}
        {{ $bg_img := resources.Get (printf "media/%s" $bg.image.filename) }}
        {{ if $bg_img }}
          {{ $style_bg = printf "%sbackground-image: url('%s'); background-repeat: no-repeat; background-position: %s; background-size: %s;" $style_bg $bg_img.Permalink ($bg.image.position | default "center") ($bg.image.size | default "cover") }}
        {{ end }}
        {{ with $bg.image.filters.brightness }}
          {{ $style_filter = printf "%s -webkit-backdrop-filter: brightness(%s); backdrop-filter: brightness(%s);" $style_filter (string .) (string .) }}
        {{ end }}
      {{ end }}

      <div class="carousel-item{{if eq $index 0}} active{{end}}" style="{{$style_bg | safeCSS}}">
        <div class="position-absolute d-flex w-100 h-100 justify-content-center align-items-center" style="{{$style_filter | safeCSS}}">
          <div class="container text-{{ $item.align | default "left" }}">
            <h1 class="hero-title">{{ $item.title | markdownify | safeHTML }}</h1>
            <p class="hero-lead">{{ $item.content | markdownify | safeHTML }}</p>
            {{ if $item.link.url }}
              <a href="{{ $item.link.url }}" class="btn btn-light btn-lg mt-3">
                {{- with $item.link.icon -}}<i class="fas fa-{{ . }}" style="padding-right: 10px;"></i>{{- end -}}
                {{- $item.link.text | markdownify | safeHTML -}}
              </a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Left and right controls -->
    {{ if gt $slide_count 1 }}
    <a class="carousel-control-prev" href="#{{$hash_id}}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{$hash_id}}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    {{ end }}
  </div>
{{ else }}
  <p>No slides available</p>
{{ end }}
