<div class="card-grid">
    {{ range .Pages }}
    <div class="card-simple">
      {{ $item := . }}
  
      {{ $link := $item.RelPermalink }}
      {{ $target := "" }}
      {{ if $item.Params.external_link }}
        {{ $link = $item.Params.external_link }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
  
      {{ $title := $item.Title | markdownify | emojify }}
  
      {{ if $item.Params.image }}
        <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>
          <div class="img-container">
            <img src="{{ $item.Params.image }}" alt="{{ $item.Title }}" loading="lazy" class="img-responsive">
          </div>
        </a>
      {{ end }}
  
      <div class="article-title mt-2">
        <a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $title }}</a>
      </div>
  
      <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="summary-link">
        <div class="article-summary">
          <p>{{ $title }}</p>
        </div>
      </a>
  
      <div class="page-metadata" style="text-align: right;">
        <span style="font-size: small;">{{ $item.Date.Format "January 2, 2006" }}</span>
        <span style="font-size: small;">{{ $item.Params.authors | join ", " }}</span>
      </div>
  
    </div>
    {{ end }}
  </div>
  